.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #f0f0f0;
  align-items: center; /* Center content horizontally */
}

.controls {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  flex-shrink: 0; /* Prevent this section from shrinking */
}

.videoElement {
  position: absolute;
  top: 35px; /* Adjusted to accommodate the controls section */
  left: 0;
  width: 100vw;
  max-height: calc(100vh - 35px); /* Adjust height based on the controls section */
  object-fit: contain;
  z-index: 1;
}

.canvasElement {
  position: absolute;
  top: 35px; /* Adjusted to accommodate the controls section */
  left: 0;
  width: 100vw;
  max-height: calc(100vh - 35px); /* Adjust height based on the controls section */
  object-fit: contain;
  z-index: 2;
  opacity: 0.5; /* Make the canvas semi-transparent */
}

/* Landscape */
@media screen and (orientation: landscape) {
  .videoElement,
  .canvasElement {
    width: 100vw;
    height: auto;
  }
}

/* Portrait */
@media screen and (orientation: portrait) {
  .videoElement,
  .canvasElement {
    width: 100%;
    height: auto;
    object-fit: contain; /* Ensure aspect ratio is maintained */
  }
}

.error {
  color: red;
  font-weight: bold;
}